In [3]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import os
from dotenv import load_dotenv
import pandas as pd
pd.set_option('display.width', 0)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)


# Load environment variables
load_dotenv()

# PostgreSQL connection details
PG_HOST = os.getenv("PG_HOST")
PG_PORT = os.getenv("PG_PORT")
PG_USER = os.getenv("PG_USER")
PG_PASSWORD = os.getenv("PG_PASSWORD")
PG_DB = os.getenv("PG_DB")
# Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{PG_USER}:{PG_PASSWORD}@{PG_HOST}:{PG_PORT}/{PG_DB}")

In [4]:
def print_tables_head():
    # Create an inspector to access metadata
    inspector = inspect(engine)

    # Get all table names from the database
    tables = inspector.get_table_names()

    # Print the head of each table
    for table_name in tables:
        print(f"Table: {table_name}")
        try:
            # Load the first few rows of the table
            df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5", engine)
            print(df.head())  # Display the first 5 rows of the table
        except Exception as e:
            print(f"Error fetching data for {table_name}: {str(e)}")
        print("\n" + "="*50 + "\n")
print_tables_head()

Table: radiology_detail
          note_id  subject_id field_name       field_value  field_ordinal
0  10000032-RR-14    10000032  exam_code               C11              1
1  10000032-RR-14    10000032  exam_name  CHEST (PA & LAT)              1
2  10000032-RR-15    10000032  exam_code              U314              1
3  10000032-RR-15    10000032  exam_code              U644              3
4  10000032-RR-15    10000032  exam_code               W82              2

==================================================

Table: radiology
          note_id  subject_id     hadm_id note_type  note_seq            charttime            storetime                                               text
0  10000032-RR-14    10000032  22595853.0        RR        14  2180-05-06 21:19:00  2180-05-06 23:32:00  EXAMINATION:  CHEST (PA AND LAT)  INDICATION: ...
1  10000032-RR-15    10000032  22595853.0        RR        15  2180-05-06 23:00:00  2180-05-06 23:26:00  EXAMINATION:  LIVER OR GALLBLADDER US (SINGLE ...
2  10000032-RR-16    10000032  22595853.0        RR        16  2180-05-07 09:55:00  2180-05-07 11:15:00  INDICATION:  ___ HCV cirrhosis c/b ascites, hi...
3  10000032-RR-18    10000032         NaN        RR        18  2180-06-03 12:46:00  2180-06-03 14:01:00  EXAMINATION:  Ultrasound-guided paracentesis. ...
4  10000032-RR-20    10000032         NaN        RR        20  2180-07-08 13:18:00  2180-07-08 14:15:00  EXAMINATION:  Paracentesis  INDICATION:  ___ y...

==================================================

Table: discharge
Empty DataFrame
Columns: [note_id, subject_id, hadm_id, note_type, note_seq, charttime, storetime, text]
Index: []

==================================================